@media (min-width: 300px) and (max-width: 750px) {
  .mainpagedice_size {
    width: 450px;
    height: 400px;
    padding: 4px;
  }
  .playgame_body {
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
  .playgame_text {
    font-size: 50px;
    display: block;
    padding: 3px;
  }
  .playgame_btn {
    padding: 6px 15px 6px 15px;
    border-radius: 25px;
  }
  .playgame_btn_text {
    font-size: 11px;
  }
  .playgame_btn_side {
    display: flex;
    justify-content: start;
    padding: 0 0 0 6px;
  }
  .Gameplaybackground {
    max-width: 350px;
    height: 400px;
    align-items: center;
  }
  .Mainpage {
    top: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
  }
  .rules_text {
    font-size: 11px;
  }
  .rules_text_heading {
    font-size: 20px;
  }
  .rules_toggle {
    font-size: 20px;
  }
  .playgame2_body {
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .selectNum_box {
    padding: 7px 14px 7px 14px;
  }
  .selectNum_text {
    font-size: 12px;
  }
  .selectNum_top {
    margin-top: 20px;
  }
  .score_text {
    font-size: 15px;
  }
  .score_done {
    padding: 5px 10px 5px 10px;
  }
  .score_num {
    display: flex;
    justify-content: start;
  }
  .rolldice_size {
    width: 100px;
    height: 100px;
  }
  .rolldice_btn {
    font-size: 10px;
    padding: 5px 14px 5px 14px;
  }
  .scale {
    height: 10px;
    top: 20px;
    padding: 17px 8px;
  }
  .back_size {
    width: 40px;
    height: 70px;
  }
}
@media (min-width: 750px) and (max-width: 1200px) {
  .playgame_body {
    align-items: center;
    padding-top: 50px;
  }
}
